pkgbase = pratibmb-bin
	pkgdesc = Chat with your 10-years-younger self. 100% local, no cloud, no telemetry
	pkgver = 0.5.0
	pkgrel = 1
	url = https://pratibmb.com
	arch = x86_64
	license = AGPL-3.0-or-later
	depends = python>=3.9
	depends = fuse2
	provides = pratibmb
	conflicts = pratibmb
	options = !strip
	source = pratibmb-bin-0.5.0.AppImage::https://github.com/tapaskar/Pratibmb/releases/latest/download/Pratibmb_0.5.0_amd64.AppImage
	source = pratibmb.desktop
	sha256sums = b89bce9ecbf499d93cb508b9468bf19a3b695286dc280ab30ca4cd097a055be8
	sha256sums = SKIP

pkgname = pratibmb-bin
