pkgbase = pratibmb-bin
	pkgdesc = Chat with your 10-years-younger self. 100% local, no cloud, no telemetry
	pkgver = 0.2.0
	pkgrel = 1
	url = https://pratibmb.com
	arch = x86_64
	license = AGPL-3.0-or-later
	depends = python>=3.10
	depends = fuse2
	provides = pratibmb
	conflicts = pratibmb
	options = !strip
	source = pratibmb-bin-0.2.0.AppImage::https://github.com/tapaskar/Pratibmb/releases/download/v0.2.0/Pratibmb_0.2.0_amd64.AppImage
	source = pratibmb.desktop
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = pratibmb-bin
